<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel==stylesheet href="/static/style.css">
	<title>LED-Matrix</title>
</head>
<body>
<h1>LED-Matrix</h1>
<hr/>
<form action="/matrix/on"><input type="submit" value="ON"/></form>
<br/>
<form action="/matrix/off"><input type="submit" value="OFF"/></form>
<br/>
<form method="POST" id="changeText">
	<input type="text" name="display" id="display" placeholder="Display Text">
	<button type="submit" id="change">Change</button>
</form>
<hr/>
<form action="/led/on"><input type="submit" value="ON"></form>
<br/>
<form action="/led/off"><input type="submit" value="OFF"></form>
</body>
</html>